body{
    font-family: 'Quicksand', sans-serif;
}

.form-control {
    border-radius: 1rem; /* Adjust the radius as needed to control the roundness of the corners. */
}

header {
    background-color: #fff;
    color: #49392d;
    padding: 7px 0;
}

nav {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar-brand img {
    width: 5rem; 
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: #49392d;
}

.user-actions a {
    margin-left: 20px;
    border: 1px solid #49392d;
    padding: 5px 10px;
    border-radius: 5px;
    color: #49392d;
    text-decoration: none;
}

/* Welcome Section Styles */
.welcome-section {
    background-color: #fff;
    padding: 80px 0;
    text-align: left;
    padding-left: 17%;
    color: #fff;
    background-image: url("https://i.postimg.cc/bNkvVgrZ/1.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.welcome-text {
    font-family: 'Quicksand', sans-serif;
    color: #49392d;
}

footer {
    /* Set the footer to stick to the bottom */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    background-color: #fff;
    color: hsl(26, 24%, 23%);
    padding: 20px 20px;
    padding-bottom: 20px;
}

  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
    
    .footer-logo img {
        width: 5rem; 
        height: auto;
      }
    
    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }
    

    #containerforlisting{
        margin-bottom: 2em;
    }
    #bodylisting{
        background-color: #EEE9E5; /* Light nude background color */
    }
    