
        body {
            font-family: 'Quicksand', sans-serif;
            background-image: url('doukakos.jpg'); /* Replace 'happy_dog.jpg' with your image file path */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        header {
            background-color: #fff;
            color: #49392d;
            padding: 7px 0;
        }

        nav {
            font-family: 'Quicksand', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
        }

        .navbar-brand img {
            width: 5rem; 
            height: auto;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        ul li a {
            text-decoration: none;
            color: #49392d;
        }

        .user-actions a {
            margin-left: 20px;
            border: 1px solid #49392d;
            padding: 5px 10px;
            border-radius: 5px;
            color: #49392d;
            text-decoration: none;
        }

        .jumbotron {
            font-family: 'Quicksand', sans-serif;
            background-color: rgba(138, 198, 209, 0.7); /* Adjust the background color's opacity */
            padding: 40px;
            background-image: url('https://i.postimg.cc/263JBWgg/2.png'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .container {
            font-family: 'Quicksand', sans-serif;
            background-color: #E8E2DD; /* Adjust the background color's opacity */
            padding: 40px;
            border-radius: 15px;
            margin-top: 40px;
        }

        footer {
            background-color: #fff;
            color: hsl(26, 24%, 23%);
            padding: 20px 20px;
            padding-bottom: 20px;
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
        }

        .footer-logo img {
            width: 5rem; 
            height: auto;
        }

        .footer-logo {
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: center; 
        }
